{% extends "dndpage\main_dnd_page.html" %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "css/geardndpage.css" %}" />
<script src="{% static '/js/geardndpage.js' %}"></script>
{% endblock head %}


{% block content %}
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="modalTitle">Заголовок модального окна</h2>
        <p id="description">Некоторый текст в модальном окне.</p>
    </div>
</div>
<div id="page">
    {% for i in gear %}
    <div class="item">
        <h2 onclick="openModal('{{i.name}}', '{{i.description}}')"> {{i.name}}</h2>
        <div class="quantity">
            <button onclick="decreaseQuantity(this)">-</button>
            <h3 class="quantityinf"> {{i.quantity}}</h3>
            <button onclick="increaseQuantity(this)">+</button>
        </div>
        <button onclick="removeItem(this)">X</button>
    </div>
    {% endfor %}
</div>
<script>
    // Получаем элементы
    const modal = document.getElementById("myModal");
    const span = document.getElementsByClassName("close")[0];

    // Функция для открытия модального окна
    function openModal(title, description) {
        document.getElementById("modalTitle").textContent = title;
        document.getElementById("description").textContent = description;
        modal.style.display = "block";
    }

    // Закрытие модального окна при нажатии на "x"
    span.onclick = function() {
        modal.style.display = "none";
    }

    // Закрытие модального окна при клике вне его
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>


{% endblock content %}  