<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Dnd builder</title>
    <link rel="stylesheet" href="{% static "css/dndpage.css" %}" />
    <meta charset="utf-8" />
    {% block head %}
    {% endblock head %}
</head>
<body>
    <div id="header">
        <h1>Dnd page</h1>
    </div>
    <main>
        <div id="main">
            <div id="statistic">
                <div id="flexrow">
                    <div id="lvinf">
                        <h3>Уровень</h3>
                        <input value="10" type="number" min="1" max="20"  id="numberInput" pattern="^\d{1,2}$" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    <div class="infbock">
                        <h3>Имя</h3>
                        <input class="inblok" value="Герой" type="text" />
                    </div>
                </div>
                <div class="infbock">
                    <label for="raceSelect1">Расса</label>
                    <select id="raceSelect1" onchange="RaceSelect()">
                    <option value="">Выбор рассы</option>
                    </select>
                </div>
                <div class="infbock">
                    <label for="classSelect1">Класс</label>
                    <select id="classSelect1" onchange="fetchSkills()">
                        <option value="">Выбор класса</option>
                    </select>
                </div>


                <div class="slider-container">
                    <label for="healthSlider">Здоровье: <span id="healthValue">100</span>/100</label>
                    <div class="slider-wrapper">
                        <input type="range" min="0" max="100" value="100" class="sliderhp" id="healthSlider">
                    </div>
                </div>
            
                <div class="slider-container">
                    <label for="experienceSlider">Опыт: <span id="experienceValue">100</span>/100</label>
                    <div class="slider-wrapper">
                        <input type="range" min="0" max="100" value="100" class="sliderxp" id="experienceSlider">
                    </div>
                </div>
                <div id="stat">
                    <div class="statdiv">
                        <h3>СИЛ</h3>
                        <input value="10" type="number" min="0" max="20"  id="numberInput" pattern="^\d{1,2}$" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    <div class="statdiv">
                        <h3>ЛОВ</h3>
                        <input value="10" type="number" min="0" max="20"  id="numberInput" pattern="^\d{1,2}$" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    <div class="statdiv">
                        <h3>ТЕЛ</h3>
                        <input value="10" type="number" min="0" max="20"  id="numberInput" pattern="^\d{1,2}$" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    <div class="statdiv">
                        <h3>ИНТ</h3>
                        <input value="10" type="number" min="0" max="20"  id="numberInput" pattern="^\d{1,2}$" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    <div class="statdiv">
                        <h3>МУД</h3>
                        <input value="10" type="number" min="0" max="20"  id="numberInput" pattern="^\d{1,2}$" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                    <div class="statdiv">
                        <h3>ХАР</h3>
                        <input value="10" type="number" min="0" max="20"  id="numberInput" pattern="^\d{1,2}$" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                    </div>
                </div>
            </div>
            <a href="/dndpage/info/" class="navigate">
                <h3>Статистика</h3>
            </a>
            <a href="/dndpage/lv/" class="navigate">
                <h3>Путь героя</h3>
            </a>
            <a href="/dndpage/lv/" class="navigate">
                <h3>Навыки</h3>
            </a>
            <a href="/dndpage/gear/" class="navigate">
                <h3>Инвентарь</h3>
            </a>
        </div>
        <div id="content">
            {% block content %}
    
            {% endblock content %}
        </div>
    </main>
    <script>
        function loadClasses() {
        fetch('http://127.0.0.1:8000/api/classes/')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ошибка сети');
                }
                return response.json();
            })
            .then(data => {
                const classSelect = document.getElementById('classSelect1');
                data.forEach(classItem => {
                    const option = document.createElement('option');
                    option.value = classItem.id;
                    option.textContent = classItem.class_name;
                    classSelect.appendChild(option);
                });
            })
            .catch(error => {
                console.error('Ошибка:', error);
            });
    }

        const healthSlider = document.getElementById("healthSlider");
        const healthValue = document.getElementById("healthValue");
        const experienceSlider = document.getElementById("experienceSlider");
        const experienceValue = document.getElementById("experienceValue");

        healthSlider.oninput = function() {
            healthValue.innerHTML = this.value;
            updateSliderBackground(healthSlider);
        }

        experienceSlider.oninput = function() {
            experienceValue.innerHTML = this.value;
            updateSliderBackground(experienceSlider);
        }

        function updateSliderBackground(slider) {
            const percentage = (slider.value / 100) * 100;
            slider.style.background = `linear-gradient(to right, ${slider.id === "healthSlider" ? '#4CAF50' : '#2196F3'} ${percentage}%, #ddd ${percentage}%)`;
        }

        function loadRaces() {
            fetch('http://127.0.0.1:8000/api/races/')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Ошибка сети');
                    }
                    return response.json();
                })
                .then(data => {
                    RaceSelect(data);
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                });
        }

        function RaceSelect(races) {
            const select = document.getElementById('raceSelect1');
            races.forEach(race => {
                const option = document.createElement('option');
                option.value = race.id;
                option.textContent = race.name;
                select.appendChild(option); 
            });
        }

        // Инициализация фона при загрузке страницы
        updateSliderBackground(healthSlider);
        updateSliderBackground(experienceSlider);
        window.onload = function() {
            loadClasses();
            loadRaces();
        };
    </script>
</body>
</html>