body{
    color: rgba(255, 255, 255, 0.842);
    background-color: rgb(32, 32, 32);
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 0;
}
main{
    display: grid;
    grid-template-columns: 30% 70%;
}
input {
    background-color: rgba(255, 255, 255, 0); /* Прозрачный фон */
    border: 1px solid #ccc; /* Добавление рамки для видимости */
    color: #ffffff; /* Цвет текста */
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}
.inblok {
    border: 0; 
    text-align:start;
}
#header {
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, #7908AA, #B365D4);
    color: white;
    font-size: 20px;
    text-align: left;
    z-index: 1000;
}
#header h1 { 
    margin: 0.2%;
}
#main { 
    position:static;
    background-color: rgb(48, 48, 48);
    display: flex; 
    flex-direction: column;
    align-items: center;
    left: 0;
}
#statistic {
    background-color: #7908AA;
    width: 90%;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 10px;
}
.infbock{
    margin-top: 5px;
    border: 2px solid white;
    border-radius: 10px;
    width: 95%;
    padding: 5px;
    margin: 2px;
    display: grid;
    position: relative;
}
.infbock h3{
    grid-area: 1 / 1;
    align-self: start;
    justify-self: start;
    margin: 0;
}
.infbock h2 {
    grid-area: 2 / 1; 
    display: flex; 
    align-self: start; 
    align-items: baseline; 
    margin: 0;
    font-size: 24px;
}
#flexrow {
    width: 96%;
    display: flex; 
    flex-direction: row;
    justify-content: left;
}
#lvinf{
    margin-top: 5px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    justify-content: center;
    grid-gap: 10px;
    display: flex;
}
#lvinf h3{
    align-self: flex-start;
    justify-self: center;
    margin: 0;
}
#lvinf input {
    text-align: center;
    align-self: center;
    margin: 0;
    font-size: 30px;
}
#hp {
    margin-top: 5px;
    border-radius: 10px;
    width: 95%;
    text-align: left;
    padding: 5px;
    margin: 5px;
    background-color: #0f9763;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
h2{
    margin: 5px;
}
#xp {
    margin-top: 5px;
    border-radius: 10px;
    width: 95%;
    text-align: left;
    padding: 5px;
    margin: 5px;
    background-color: #561cdf;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
#stat{
    width: 97%;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-between;
   
}
.statdiv{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    justify-items: center;
    text-align: center;
}
.navigate{
    background-color: #7908AA;
    width: 90%;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 10px;
    text-decoration: none;
    color: white;
}
.navigate:hover{
    transform: scale(1.03);
}

.slider-container {
    margin-top: 20px;
    margin-top: 5px;
    border-radius: 10px;
    width: 95%;
    text-align: left;
    padding: 5px;
    margin: 5px;
    display: flex; 
    flex-direction:column;
}
.slider-wrapper {
    position: relative;
}

.sliderhp {
    -webkit-appearance: none; /* Убираем стандартный стиль для WebKit */
    width: 100%; /* Ширина ползунка */
    height: 15px; /* Высота ползунка */
    background: #ddd; /* Цвет фона по умолчанию */
    border-radius: 5px; /* Закругление углов */
    outline: none; /* Убираем обводку */
}

.sliderhp::-webkit-slider-thumb {
    -webkit-appearance: none; /* Убираем стандартный стиль для WebKit */
    appearance: none; /* Убираем стандартный стиль */
    width: 25px; /* Ширина ползунка */
    height: 25px; /* Высота ползунка */
    border-radius: 50%; /* Закругление углов */
    background: #4CAF50; /* Цвет ползунка */
    cursor: pointer; /* Курсор при наведении */
}

.sliderhp::-moz-range-thumb {
    width: 25px; /* Ширина ползунка */
    height: 25px; /* Высота ползунка */
    border-radius: 50%; /* Закругление углов */
    background: #ffffff; /* Цвет ползунка */
    cursor: pointer; /* Курсор при наведении */
}
.sliderxp {
    -webkit-appearance: none; /* Убираем стандартный стиль для WebKit */
    width: 100%; /* Ширина ползунка */
    height: 15px; /* Высота ползунка */
    background: #ddd; /* Цвет фона по умолчанию */
    border-radius: 5px; /* Закругление углов */
    outline: none; /* Убираем обводку */
}

.sliderxp::-webkit-slider-thumb {
    -webkit-appearance: none; /* Убираем стандартный стиль для WebKit */
    appearance: none; /* Убираем стандартный стиль */
    width: 25px; /* Ширина ползунка */
    height: 25px; /* Высота ползунка */
    border-radius: 50%; /* Закругление углов */
    background: #2196F3; /* Цвет ползунка */
    cursor: pointer; /* Курсор при наведении */
}

.sliderhp::-moz-range-thumb {
    width: 25px; /* Ширина ползунка */
    height: 25px; /* Высота ползунка */
    border-radius: 50%; /* Закругление углов */
    background: #ffffff; /* Цвет ползунка */
    cursor: pointer; /* Курсор при наведении */
}

