#statistic {
    display: none;
}
#inf{
    background-color: #7908AA;
    width: 90%;
    margin: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 10px;
}
.statdiv{
    justify-content: center;
}
#stat{
    width: 10%;
    display: grid;
    grid-template-columns: 90%;
    justify-content: space-between;
}
.skills{
    margin-top: 5px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-items: left;
    flex-direction: column;
    text-align: left;
}
.skills h3 {
    text-align: center ;
}
.slider-container {
    margin-top: 20px;
    margin-top: 5px;
    border-radius: 10px;
    width: 95%;
    text-align: left;
    padding: 5px;
    margin: 5px;
    display: flex; 
    flex-direction:column;
}
.slider-wrapper {
    position: relative;
}

.sliderhp {
    -webkit-appearance: none; /* Убираем стандартный стиль для WebKit */
    width: 100%; /* Ширина ползунка */
    height: 15px; /* Высота ползунка */
    background: #ddd; /* Цвет фона по умолчанию */
    border-radius: 5px; /* Закругление углов */
    outline: none; /* Убираем обводку */
}

.sliderhp::-webkit-slider-thumb {
    -webkit-appearance: none; /* Убираем стандартный стиль для WebKit */
    appearance: none; /* Убираем стандартный стиль */
    width: 25px; /* Ширина ползунка */
    height: 25px; /* Высота ползунка */
    border-radius: 50%; /* Закругление углов */
    background: #4CAF50; /* Цвет ползунка */
    cursor: pointer; /* Курсор при наведении */
}

.sliderhp::-moz-range-thumb {
    width: 25px; /* Ширина ползунка */
    height: 25px; /* Высота ползунка */
    border-radius: 50%; /* Закругление углов */
    background: #ffffff; /* Цвет ползунка */
    cursor: pointer; /* Курсор при наведении */
}
.sliderxp {
    -webkit-appearance: none; /* Убираем стандартный стиль для WebKit */
    width: 100%; /* Ширина ползунка */
    height: 15px; /* Высота ползунка */
    background: #ddd; /* Цвет фона по умолчанию */
    border-radius: 5px; /* Закругление углов */
    outline: none; /* Убираем обводку */
}

.sliderxp::-webkit-slider-thumb {
    -webkit-appearance: none; /* Убираем стандартный стиль для WebKit */
    appearance: none; /* Убираем стандартный стиль */
    width: 25px; /* Ширина ползунка */
    height: 25px; /* Высота ползунка */
    border-radius: 50%; /* Закругление углов */
    background: #2196F3; /* Цвет ползунка */
    cursor: pointer; /* Курсор при наведении */
}

.sliderhp::-moz-range-thumb {
    width: 25px; /* Ширина ползунка */
    height: 25px; /* Высота ползунка */
    border-radius: 50%; /* Закругление углов */
    background: #ffffff; /* Цвет ползунка */
    cursor: pointer; /* Курсор при наведении */
}
.number-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.number-input button {
    background-color: #ffffff; /* Цвет кнопки */
    color: rgb(247, 0, 255); /* Цвет текста */
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px 10px;
    width: 25%;
    cursor: pointer;
}

.number-input button:hover {
    background-color: #7908AA; /* Цвет кнопки при наведении */
}

.custom-number-input {
    width: 50px; /* Ширина поля ввода */
    text-align: center; /* Центрирование текста */
}

.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Для Chrome, Safari и Opera */
    margin: 0;
}