#statistic {
    display: none;
}
#inf{
    background-color: #7908AA;
    width: 90%;
    margin: 1%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 10px;
}
#stat{
    width: 10%;
    display: grid;
    grid-template-columns: 90%;
    justify-content: space-between;
}
#stat div{
    display: flex;
    justify-content: baseline;
}
.skills{
    margin-top: 5px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-items: left;
    flex-direction: column;
    text-align: left;
}
.skills h3 {
    text-align: center ;
}
.slider-container {
    margin-top: 20px;
    margin-top: 5px;
    border-radius: 10px;
    width: 95%;
    text-align: left;
    padding: 5px;
    margin: 5px;
    display: flex; 
    flex-direction:column;
}
.slider-wrapper {
    position: relative;
}

.sliderhp {
    -webkit-appearance: none; /* Убираем стандартный стиль для WebKit */
    width: 100%; /* Ширина ползунка */
    height: 15px; /* Высота ползунка */
    background: #ddd; /* Цвет фона по умолчанию */
    border-radius: 5px; /* Закругление углов */
    outline: none; /* Убираем обводку */
}

.sliderhp::-webkit-slider-thumb {
    -webkit-appearance: none; /* Убираем стандартный стиль для WebKit */
    appearance: none; /* Убираем стандартный стиль */
    width: 25px; /* Ширина ползунка */
    height: 25px; /* Высота ползунка */
    border-radius: 50%; /* Закругление углов */
    background: #4CAF50; /* Цвет ползунка */
    cursor: pointer; /* Курсор при наведении */
}

.sliderhp::-moz-range-thumb {
    width: 25px; /* Ширина ползунка */
    height: 25px; /* Высота ползунка */
    border-radius: 50%; /* Закругление углов */
    background: #ffffff; /* Цвет ползунка */
    cursor: pointer; /* Курсор при наведении */
}
.sliderxp {
    -webkit-appearance: none; /* Убираем стандартный стиль для WebKit */
    width: 100%; /* Ширина ползунка */
    height: 15px; /* Высота ползунка */
    background: #ddd; /* Цвет фона по умолчанию */
    border-radius: 5px; /* Закругление углов */
    outline: none; /* Убираем обводку */
}

.sliderxp::-webkit-slider-thumb {
    -webkit-appearance: none; /* Убираем стандартный стиль для WebKit */
    appearance: none; /* Убираем стандартный стиль */
    width: 25px; /* Ширина ползунка */
    height: 25px; /* Высота ползунка */
    border-radius: 50%; /* Закругление углов */
    background: #2196F3; /* Цвет ползунка */
    cursor: pointer; /* Курсор при наведении */
}

.sliderhp::-moz-range-thumb {
    width: 25px; /* Ширина ползунка */
    height: 25px; /* Высота ползунка */
    border-radius: 50%; /* Закругление углов */
    background: #ffffff; /* Цвет ползунка */
    cursor: pointer; /* Курсор при наведении */
}